<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='abbr_helper.css') }} ">
	</head>
	
	<body>
		{% include 'header.jinja2.html' %}
		<div>
			<form class="space_between_scroll" action="" method="post">
				<br>
				<br>
				<label for="name">Group:</label>
				<input type="text" size="120" id="name" name="name" title="name of group" value="{{ group.name }}" required><br><br>
				<label for="comment">Comment:</label>
				<input type="text" size="220" id="comment" name="comment" title="" value="{{ group.comment }}"><br><br>
				<br>
				<br>
				<br>
				<br>
				Abbreviations in this group:<br>
				{% for a in all_abbrs %}
				<label><input type="checkbox" name="abbr_{{ a._id }}" value="abbr_{{ a._id }}" {% if group in a.groups %} checked {% endif %}> {{ a.name }} {% if group in a.groups %} (NOW ASSIGNED) {% endif %} - {{ a.descr }} </label><br>
				{% endfor %}
				<br>
				<br>
				
				
				<label><input type="checkbox" name="disabled" value="disabled" {% if group.disabled %} checked {% endif %}> Disabled </label>
				<br>
				<br>
				<input type="submit" value="Save group"><br>
			</form>
		</div>
    
    </body>
</html>
