<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='abbr_helper.css') }} ">
	</head>
	
	<body>
		{% include 'header.jinja2.html' %}
		<div>
			<form class="space_between_scroll" action="" method="post">
				<br>
				<br>
				<label for="abbreviation">Abbreviation:</label>
				<input type="text" size="120" id="abbreviation" name="abbreviation" title="name of abbreviation" value="{{ abbr.name }}" required><br><br>
				<label for="description">Description:</label>
				<input type="text" size="120" id="description" name="description" title="description of abbreviation" value="{{ abbr.descr }}" required><br><br>
				<label for="group_list">Group list:</label>
				<input type="text" size="120" id="group_list" name="group_list" title="group list" value="{{ abbr.group_list | empty_filter }}" ><br><br>
				
				<br>
				<br>
				Groups:<br>
				{% for g in all_groups %}
				<label><input type="checkbox" name="group_{{ g._id }}" value="group_{{ g._id }}" {% if g in abbr.groups %} checked {% endif %}> {{ g.name }} {% if g in abbr.groups %} (NOW ASSIGNED) {% endif %} </label><br>
				{% endfor %}
				<br>
				<br>
				
				
				<label for="comment">Comment:</label>
				<input type="text" size="120" id="comment" name="comment" title="" value = "{{ abbr.comment }}"><br><br>
				<br>
				<br>
				<label><input type="checkbox" name="disabled" value="disabled" {% if abbr.disabled %} checked {% endif %}> Disabled </label>
				<br>
				<br>
				<input type="submit" value="Save abbreviation"><br>
			</form>
		</div>
    
    </body>
</html>
