<!DOCTYPE html>
<!-- ver0.4 -->
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='abbr_helper.css') }} ">
	</head>
	
	<body>
		{% include 'header.jinja2.html' %}
		<div>
			<br>
			<br>
			This is main page of AbbrHelper version {{app_version}}.<br>
			<br>
			<br>
			<br>
			
			
			[<a href="/upload-file" title="upload input file">Upload input file</a>]<br>
			[<a href="/show-db" title="show db">Show database</a>]<br>
			[<a href="/create-abbr" title="add new abbreviation to DB">Create abbreviation</a>]
			<br>
			<br>
			<br>
			<br>
			
		</div>
    
    </body>
</html>
