<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='abbr_helper.css') }} ">
	</head>
	
	<body>
		{% include 'header.jinja2.html' %}
		<div>
			<br>
			Groups:<br>
			({{ groups | length }} total)<br>
			<br>
			<br>
			<br>
			{% for _id, group in groups.items() %}
			id{{ _id }}:  {{ group.name }} -- ({{ group.comment }}) {% if group.disabled%} (disabled){% endif %} [<a href="/edit-group/{{ _id }}" >edit</a>] [<a href="/delete-group/{{ _id }}" >delete</a>]<br>
			{% endfor %}
			<br>
			<br>
			<br>
			
		</div>
    
    </body>
</html>
