<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='abbr_helper.css') }} ">
	</head>
	
	<body>
		{% include 'header.jinja2.html' %}
		<div>
			<br>
			Abbreviations:<br>
			({{ abbrs | length }} total)<br>
			<br>
			[<a href="/create-abbr" title="add new abbreviation to DB">Create new</a>]<br>
			<br>
			<br>
			<br>
			{% for _id, abbr in abbrs.items() %}
			id{{ _id }}:  {{ abbr.name }} -- {{ abbr.descr }} [<a href="/edit-abbr/{{ _id }}" >edit</a>] [<a href="/delete-abbr/{{ _id }}" >delete</a>]<br>
			{% endfor %}
			<br>
			<br>
			<br>
			
		</div>
    
    </body>
</html>
