<!DOCTYPE html>
<!-- ver0.4 -->
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='abbr_helper.css') }} ">
	</head>
	
	<body> 
		{% include 'header.jinja2.html' %}
		<div>
			<form class="space_between_scroll" action="" method="post" enctype="multipart/form-data">
				<br>
				<br>
				Select DB file for import<br>
				(supported formats: CSV with ";" as delimiter)<br>
				<input type="file" name="file"><br>
				<br>
				<br>
				<br>
				<input type="submit" value="Upload file"><br>
			</form>
		</div>
    
    </body>
</html>
