<!DOCTYPE html>
<!-- ver0.4 -->
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='abbr_helper.css') }} ">
	</head>
	
	<body> 
		{% include 'header.jinja2.html' %}
		<div>
			<form class="space_between_scroll" action="" method="post" enctype="multipart/form-data">
				<br>
				<br>
				Select input file for upload<br>
				(supported formats: DOCX, TXT)<br>
				<input type="file" name="file"><br>
				<br>
				<br>
				Select abbr groups to exclude from this file:<br>
				{% for g in groups %}
				<label><input type="checkbox" name="group_{{ g._id }}" value="group_{{ g._id }}"> {{ g.name }} {% if g.disabled %} (already disabled) {% endif %} ({{ g.comment }}) </label><br>
				{% endfor %}
				<br>
				<br>
				<input type="submit" value="Upload file"><br>
			</form>
		</div>
    
    </body>
</html>
